<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>DebugFilter</filter-name>
    <filter-class>com.lzhupload.upload.filter.DebugFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DebugFilter</filter-name>
    <servlet-name>UploadFileServlet</servlet-name>
  </filter-mapping>
  <context-param>
    <param-name>allowUploadFileType</param-name>
    <param-value>
			conf/allowUploadFileType.properties
		</param-value>
  </context-param>
  <context-param>
    <param-name>upload</param-name>
    <param-value>
			conf/upload.properties
		</param-value>
  </context-param>
  <context-param>
    <param-name>error</param-name>
    <param-value>
				conf/error/zh_CN.properties
		</param-value>
  </context-param>
  <context-param>
    <param-name>success</param-name>
    <param-value>
				conf/success/zh_CN.properties
		</param-value>
  </context-param>
  <listener>
    <listener-class>com.lzhupload.upload.impl.UploadInitImpl</listener-class>
  </listener>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.lzhupload.upload.servlet.UploadFileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>com.lzhupload.upload.servlet.DeleteFileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetIdsServlet</servlet-name>
    <servlet-class>com.lzhupload.upload.servlet.GetIdsServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIdsServlet</servlet-name>
    <url-pattern>/getIds</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetJsonpId</servlet-name>
    <servlet-class>com.lzhupload.upload.servlet.GetJsonpId</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJsonpId</servlet-name>
    <url-pattern>/getJsonpId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisitFileServlet</servlet-name>
    <servlet-class>com.lzhupload.upload.servlet.VisitFileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitFileServlet</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.lzhupload.upload.servlet.DownloadFileServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ReplaceFileServlet</servlet-name>
    <servlet-class>com.lzhupload.upload.servlet.ReplaceFileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplaceFileServlet</servlet-name>
    <url-pattern>/replaceFile</url-pattern>
  </servlet-mapping>
</web-app>